@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&display=swap");

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px auto; 
}

/*startScreen styles */
#startScreen {
 position: absolute;
 text-align: center;
 width: 680px;
 height: 540px;
 border: 5px solid;
 background-color: hsl(52, 85%, 74%);
 z-index: 100;
}
.startFunction{
 position: relative;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 flex-wrap: wrap;
 height: 380px;
 padding-top: 10px;
}

.headerStart {
    flex: 1 1 100%;
    font-size: 40px;
    font-weight: 700;
    margin-top: 25px;
    margin-bottom: -12px;
}
.startMessage {
    font-size: 38px;
    margin-bottom: 17px;
}


.start{
    font-size: 25px;
    width: 125px;
    border: 4px solid white;
    border-radius: 10px;
    box-shadow: 3px 5px white;
    background-color: hsl(52, 85%, 74%);
}

.start:active{
    background-color: hsl(296, 75%, 85%) ;
}


.start_hover {
    background-color: hsl(177, 100%, 75%);
    width: 135px;
}


.footer{
    font-family: 'Cormorant Garamond', serif;
    font-size: 27px;
    font-weight: 700;
}
.footer a{
    text-decoration: none;
    color: black;
}
.footer a:hover{
    color: hsl(0, 0%, 69%);
    font-size: 28px;
}

/*playerArea styles */

#playContainer {
    text-align: center;
    width: 680px;
    height: 540px;
    border: 5px solid;
    background-color: hsl(52, 85%, 74%);
    z-index: 50;
}


.playerSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    column-gap: 70px;
}

.header {
    font-size: 40px;
    font-weight: 700;
    margin: 15px;
}

.message{
    flex: 1 1 100%;
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: "Kdam Thmor Pro", sans-serif;
}
.img {
    display: flex;
    width: 100px;
    height: auto;
}

.scoreBoard {
    display: flex;
    justify-content: space-around;
    height: 120px;
}
.playerScore {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.player {
    flex: 1 1 100%;
    font-size: 25px;
    margin-top: 15px;
}

.win {
    
    flex: 1;
    font-size: 35px;
}

.CPUScore {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pc {
    flex: 1 1 100%;
    font-size: 25px;
    margin-top: 15px;
}

.lose {
    
    flex: 1;
    font-size: 35px;
}

.result {
    display: flex;
    align-items: center;
    font-size: 22px;
}

.finalResult {
    display: none;
    align-items: center;
    font-size: 22px;
}

.playGround {
    display: none;
    justify-content: space-evenly;
    
}
.selectImgP1{
    display: flex;
    width: 100px;
    height: auto;
}

.selectImgCPU{
    display: flex;
    width: 100px;
    height: auto;
}

/*resultScreen styles */
.screenResult {
    position: absolute;
    width: 680px;
    height: 540px;
    border: 5px solid;
    background-color: hsl(52, 85%, 74%);
    z-index: 1;
}