@import url('https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap');

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px auto;
    
}

#playContainer {
    text-align: center;
    width: 600px;
    height: 450px;
    border: 5px solid;
    background-color: hsl(52, 85%, 74%);
}


.playerSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    column-gap: 40px;
}

.header {
    font-size: 40px;
    font-weight: 700;
    margin: 15px;
}

.message{
    flex: 1 1 100%;
    font-size: 23px;
    margin-top: 25px;
    margin-bottom: 10px;
    font-family: "Kdam Thmor Pro", sans-serif;
}
.img {
    display: flex;
    width: 100px;
    height: auto;
}

.scoreBoard {
    display: flex;
    justify-content: space-around;
    height: 120px;
}
.playerScore {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.player {
    flex: 1 1 100%;
    font-size: 25px;
    margin-top: 15px;
}

.win {
    
    flex: 1;
    font-size: 35px;
}

.CPUScore {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.pc {
    flex: 1 1 100%;
    font-size: 25px;
    margin-top: 15px;
}

.lose {
    
    flex: 1;
    font-size: 35px;
}

.result {
    display: flex;
    align-items: center;
    font-size: 22px;
}

